*{
    margin:0;
    padding:0;
}

#login-form{
    margin-top: 50px;
}

#login-form label{
    cursor: pointer;
}

.login-form-title{
    margin-top:100px;
}

.form-error{
    display: none;
}

.logout-link{
    display: block;
    padding:20px;
}

#csv-form{
    margin-top:50px;
}

#csv_file{
    display: none;
}

#table-header{
    margin-bottom: 50px;
}

/*

Spinner css

*/

.page-load-spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}